* {
  box-sizing: border-box;
}

/*Header CSS, class=navbar, two divs: name and links*/

header {
}

.navbar{
	position: fixed;
	top:0;
	right: 0;
	padding: 0px;
	height: 80px;
	width: 100%;
	background: #fff;
	top: 0;
	border-bottom: 1px solid #ddd;
	z-index: 100;
	text-align: center;
}

#name {
	background: #4aaaa5;
	top: 0;
	float: left;
	width: 225px;
	text-align: center;
	height: 80px;
	color: #fff;
	padding: 10px;
	margin-left: 140px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	padding-left: 20px;
}

#links {
	background: #fff;
	float: right;
	width: 50%;
	color: #777;
	display: inline-block;
	padding: 30px;
	font-size: 16px;
	margin-right:20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
}

a:link {
	color:#777;}  /* unvisited link */
a:visited {
	color:#777;}  /* visited link */
a:hover {
	color:#777;}  /* mouse over link */
a:active {
	color:#777;}  /* selected link */

.navlink {
	padding-right: 16px;
	padding-left: 16px;
}

body {
	background-image: url(seigaiha.png);
	display: block;
	margin-top: 140px;
}

h2 {
	font-color: #4aaaa5;
	text-align: left;
	font-family: 'Georgia', Times, "Times New Roman", serif;
}

h3 {
	font-color: #4aaaa5;
	text-align: center;
	font-family: 'Georgia', Times, "Times New Roman", serif;
}

hr {
	margin-bottom: 20px;
	color: #ddd;
}
.main-bio {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #4aaaa5;
	width: 580px;
	margin-bottom: 20px;
	float: left;
	overflow: visible;
	display: inline-block;
	position: relative;
	border: 1px solid #ddd;
	background: #fff;
	margin-left: 140px;
	padding: 20px 30px 20px 30px;
	text-align: left;
}

#savannah{
	float:left;
}

#sidebar {
	float: right;
	color: #4aaaa5;
	background: #fff;
	width: 240px;
	height: 180px;
	overflow: visible;
	position: absolute;
	line-height: 10px;
	margin-right: 215px;
	margin-left: 40px;
	text-align: center;
	display: inline-block;
	border: 1px solid #ddd;
	padding: 30px 20px 30px 20px;
}

p {
	color: #777;
}

.contact {
	width: 650px;
	height: 600px;
	border: 1px solid #ddd;
	text-align: center;
	padding: 20px 30px 40px 30px;
	color: #4aaaa5;
	margin-left: 90px;
	background: #fff;
	display: inline-block;
	line-height: 20px;
	float: left;
	position: relative;
	margin-bottom: 20px;
}

form {
	color: #777;
	text-align: left;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

input {
	width:590px;
	color: #ddd;
	text-align: left;
	font-size: 14px;
	border: 1px solid #ddd;
}

#namebox {
	height: 30px;
}

#email{
	height: 30px;
}
#message {
	height: 200px;
	text-align: left;
	color: #ddd;
}

#submit{
	background: #4aaaa5;
	color: #fff;
	height: 40px;
	width: 115px;
	font-size: 14px;
	border: 1px solid #4aaaa5;
}

.picture {
	padding: 20px 30px 20px 30px;
	z-index: 5;
}

#container{
	height: 830px;
	width: 600px;
	border: 1px solid #ddd;
	top: 40;
	background: #fff;
	color: #4aaaa5;
	margin-left: 115px;
	padding: 0px 30px 0px 30px;
	display: inline-block;
}
.phototitle {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	z-index: 100;
	font-size: 16px;
	background-color: #4aaaa5;
	color: #fff;
	padding: 10px;
}

#melly {
	float: left;
	display: inline-block;
	width: 265px;
	height: 200px;
}

#kentucky {
	float: left;
	display: block;
	width: 265px;
	height: 200px;
}

#melly3 {
	float: left;
	display: block;
	width: 265px;
	height: 200px;
}

#michael {
	float: left;
	display: block;
	width: 265px;
	height: 200px;
}

#melly2 {
	float: left;
	display: block;
}

#wedding {
	float: left;
	display: block;
}

footer {
	position: fixed;
	z-index: 100;
	left: 0;
	bottom: 0;
	background: #666;
	padding: 25px;
	font-size: 12px;
	color: #fff;
	border-top: 7px solid #4aaaa5;
	margin-top: 40px;
	clear: both;
	text-align: center;
	height: 30px;
	width: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}